name: C/C++ CI (Linux)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-linux:

    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    
    - name: Install Qt
      run: sudo apt install qt5-default qtbase5-dev libqt5websockets5-dev
      
    - name: Build with gcc
      run: ./workflow_build_linux.sh g++
      
    - name: Build with clang
      run: ./workflow_build_linux.sh clang
