name: C/C++ CI (Windows)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      version: 5.9.5
      
    - name: Build with MSVC
      shell: cmd
      run: workflow_build_windows.bat
