name: C/C++ CI (Linux)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v1
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      version: 5.9.5
      
    - name: Build with gcc
      run: ./workflow_build_linux.sh g++
      
    - name: Build with clang
      run: ./workflow_build_linux.sh clang
